  <div id="paralaxSlice1" data-stellar-background-ratio="0.5"></div>
<!-- about us -->
        <section class="slice noPaddingBottom">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h1>How this works</h1>
                <h2 class="subTitle">An analogy to the inner workings of the Recommendation Engine</h2>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <h2>[some math-y picture]</h2>
                <h3>A Computerless World</h3>
                <p>Lets forget for a moment that computers and the web exists. Say you are at a fundraising event where 50,000 projects are looking for backers and there are 200,000 people that are looking for projects to back. Currently, the situation is extremely chaotic. It is similar to being in a football stadium with 50,000 people that have projects and are looking for your funding. The editors choice panel on kickstarter is like having a few lucky people being broadcast on the jumbotron in the stadium. The new projects panel is like hanging out by the entrance and seeing the flood new projects coming in. Its a mess.</p>
                <p>What the Kickammender recommendation engine does is transform the stadium into a skyscraper. As you enter the lobby of the building, a receptionist analyses your interests and tells you to go to room 17 on the 62nd floor. In this room is a round table with prolific kickstarter backers. All of these people have similar interests and personalities to you. The people that love theater, find comics mildly interesting, and hate technology will probably be placed at the same table. The receptionist was very good at placing people with similar interests at the same table. Some tables might have 50 people and others might only have 10 people.</p>

             </div>
              <div class="col-sm-4">
                <h2>Step 1</h2>
                <h3>Log in with Facebook</h3>
                <p>At the dining table, people talk about the projects that they have backed and the user takes note of the projects that have been mentioned often that are still looking for funding. These are true recommendations. They are based off of actual backers and not what the people proposing the project say. More importantly, the backers that we are listening to are the users that have shown to have similar interests to the us.</p>
                <p>Now imagine we get a chance to talk to everyone at our table and we find that we have the most similar interests to a specific user. We take note of that person so that we can keep in touch in the future. When they find any new projects that they would like to back they let us know since we will probably also find that project interesting as well.</p>

              </div>

              <div class="col-sm-4">
                <h2>Step 2</h2>
                <h3>Make your recommendations better</h3>
                <p></p>
                <p>After a busy day of networking and a full stomack we take the elevator back down to the lobby, we thank the receptionist for choosing such an amazing room for you and go home.</p>
                <p>Now imagine an engine that does all of this with a single mouse click. Welcome to the beauty of Kickammender.</p> 
 
                <br>
                <center>
                <p><a class="btn" href="/auth/facebook"><i class="icon-facebook-1"></i>Get started</a></p>
              </center>
              </div>
            </div>
          </div>
        <!-- about us -->

        </div>

