  <header id="displayHeader" class="navbar-fixed-top" role="banner">
    <div class="container">
      <nav class="navbar navbar-default scrollMenu" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
          <a class="navbar-brand" href="#homeFullScreen">Kickammender.</a> 
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse" id="scrollTarget">
          <ul class="nav navbar-nav pull-right">
            <li class="active"><a href="/">Home</a> </li>
            <li><a href="/recommendations">Your Recs</a> </li>
            <li><%= link_to "Your Profile", user_path(@user) %> </li>
            <li><a id="logout" href="/sessions/logout">Logout</a> </li>
            <li><a href="/about#about">How This Works</a> </li>
          </ul>
        </div>

      </nav>
    </div>
  </header>
<p id="notice"><%= notice %></p>
  <div id="paralaxSlice1" data-stellar-background-ratio="0.5"></div>
<!-- about us -->
        <section class="slice" id="about">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h1>How this works</h1>
                <h2 class="subTitle">Kickammender uses machine learning to make intelligent recommendations</h2>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4"> <img src="/assets/plant_growing_from_coins.jpg" alt="services" class="img-responsive"> </div>
              <div class="col-sm-4">
                <h2>The Problem</h2>

                <p>Three years after Kickstarter launched, we backed our first project: the Double Fine Adventure. At the time, this was the largest project that had ever been on the site. Since then, we've only backed a couple of other projects. Kickstarter is a concept we believe in, and we love directly supporting quality content made by independent creators. Why aren't we using it more?</p>

                <p>Part of the reason is because we only hear about promising Kickstarter projects through some other source that will sometimes refer us to something on the site. We wanted a better way to find projects, so we built Kickammender.
                </p>

              </div>

              <div class="col-sm-4">
                <h2>Our Solution</h2>
                <p></p>
                <p>Kickammender is a demonstration of a better way to find projects on Kickstarter. The heart of our process is the <em>k</em>-means clustering algorithm. We've built that into a dynamic web application using Ruby on Rails. Our application delivers unique recommendations to a user based on their Facebook likes. Additionally, we've built a simple user feedback system and user profile that allows users to tailor our recommendations, save projects they're interested in, and follow Kickstarter users that they like.</p>

                <p>Thanks for taking a look at Kickammender. We hope you find it useful. Read on for a detailed explanation of our methodology, or get in touch with us via Twitter: @jnoconor, @mpolycar. </p>
              </div>
            </div>
          </div>
        </section>
        <div id="formulaSlice" data-stellar-background-ratio="0.5">
          <div class="maskParent">
            <div class="paralaxMask"></div>
            <div class="paralaxText">
              <i class="icon-star iconBig"></i>

            </div>
          </div>
        </div>
        <section class="slice noPaddingBottom color4">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h1>K Means Clustering</h1>
                <h2 class="subTitle">The inner workings of our recommendation engine</h2>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <h2>[k means analogy - 1 column, 1 or 2 paragraphs]</h2>
                <p>Lets forget for a moment that computers and the web exists. Say you are at a fundraising event where 50,000 projects are looking for backers and there are 200,000 people that are looking for projects to back. Currently, the situation is extremely chaotic. It is similar to being in a football stadium with 50,000 people that have projects and are looking for your funding. The editors choice panel on kickstarter is like having a few lucky people being broadcast on the jumbotron in the stadium. The new projects panel is like hanging out by the entrance and seeing the flood new projects coming in. Its a mess.</p>
                <p>What the Kickammender recommendation engine does is transform the stadium into a skyscraper. As you enter the lobby of the building, a receptionist analyses your interests and tells you to go to room 17 on the 62nd floor.</p>


             </div>
              <div class="col-sm-4">
                <h2>[technical details - concepts]</h2>
                <%= image_tag "kmeans2.gif", class: "kmeans-gif", style: "width: 100%" %>
                <p> In this room is a round table with prolific kickstarter backers. All of these people have similar interests and personalities to you. The people that love theater, find comics mildly interesting, and hate technology will probably be placed at the same table. The receptionist was very good at placing people with similar interests at the same table. Some tables might have 50 people and others might only have 10 people.</p>
                <p>At the dining table, people talk about the projects that they have backed and the user takes note of the projects that have been mentioned often that are still looking for funding. These are true recommendations. They are based off of actual backers and not what the people proposing the project say. More importantly, the backers that we are listening to are the users that have shown to have similar interests to the us.</p>

              </div>

              <div class="col-sm-4">
                <h2>[technical details - math]</h2>
                <p>Now imagine we get a chance to talk to everyone at our table and we find that we have the most similar interests to a specific user. We take note of that person so that we can keep in touch in the future. When they find any new projects that they would like to back they let us know since we will probably also find that project interesting as well.</p>
                <p>After a busy day of networking and a full stomack we take the elevator back down to the lobby, we thank the receptionist for choosing such an amazing room for you and go home.</p>
                <p>Now imagine an engine that does all of this with a single mouse click. Welcome to the beauty of Kickammender.</p> 
 
                <br>
                <center>

              </center>
              </div>
            </div>
          </div>
        </div>

        <div id="wordCloudSlice" data-stellar-background-ratio="0.5">
          <div class="maskParent">
            <div class="paralaxMask"></div>
            <div class="paralaxText">
              <%= image_tag "facebook-like-click.jpg", size: "150x150", style: "border-radius: 15px" %>
            </div>
          </div>
        </div>

        <section class="slice" id="about">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h1>Ruby Implementation</h1>
                <h2 class="subTitle">[this cries out for a diagram] What we built</h2>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <center>

                </center>
              </div>

              <div class="col-sm-4">
                <h2>Classifying by Kickstarter Projects Backed</h2>
                <p>The first question you may ask is how we classify a persons interests. We look at the categories of all of the projects the person has backed and give them scores based on that. For example if Alex backed 6 Art projects, another 3 projects that had to do with Theater, 2 Comics, 2 Design and 1 Film then we normalize these scores and give him a 100 in Art, 50 Theater, 33 in Comics and Design and 17 in Film. </p>
              </div>

              <div class="col-sm-4">
                <h2>Classifying by Facebook Likes</h2>
                <img src="/assets/youlikethis.jpg" alt="facebook like">
                <p>What happens when we have a new user that hasnt backed any kickstarter projects? We look at his facebook likes and map the facebook likes categories to the kickstarter categories. Say Albert hasn't backed any kickstarter projects but he has liked 6 Artists pages on facebook, 3 theaters, 2 comic books, 2 design pages and 1 movie then he would be given the same score as Alex.</p> 
              </div>
            </div>
          </div>
        </section>
        <section class="slice noPaddingBottom color4">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h1>[putting it together - recommendations for a user]</h1>
                <h2 class="subTitle"></h2>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <h2>K Means Clustering</h2>
                <p>The next step is to group people with similar interests into groups or clusters. We do this by using a Machine Learning algorithm called K Means Clustering. This takes in data points and the number of groups we want and it outputs centers of the groups and the member of each group.</p> 
                <p>We specify the number of clusters we want and the algorithm will separate the points or in this case the users into different clusters. This visual shows how 2 dimensional datapoints are separated into 4 clusters. This shows how the algorithm works in 2 dimensions. You can imagine the axiis being how much a person likes art and the other being Technology. Kickstarter however has 13 categories. We wrote the algorithm to work in 13 dimensions. Harder to visualize but same kind of principle.</p>
             </div>
              <div class="col-sm-4">
                <img class="kmeans-gif" src="/assets/kmeans2.gif" width="100%" alt="K Means Clustering gif" loop=infinite>
                <p> In this room is a round table with prolific kickstarter backers. All of these people have similar interests and personalities to you. The people that love theater, find comics mildly interesting, and hate technology will probably be placed at the same table. The receptionist was very good at placing people with similar interests at the same table. Some tables might have 50 people and others might only have 10 people.</p>
                <p>At the dining table, people talk about the projects that they have backed and the user takes note of the projects that have been mentioned often that are still looking for funding. These are true recommendations. They are based off of actual backers and not what the people proposing the project say. More importantly, the backers that we are listening to are the users that have shown to have similar interests to the us.</p>

              </div>

              <div class="col-sm-4">
                <h2>K-Means++</h2>
                <p>One of the things we notice from this gif is that the clusters that are created are different depending on what seed values we start with. We implemented some additional logic which is called K-Means++ which was proposed in 2007 as a way to choose seed points that will let the K-Means algorithm choose better clusters.</p> 

                <p>We went onto kickstarter and scraped data from 5,000 users that had backed numerous projects. We saw which projects they had backed and the categories of these projects. With this information we had 5,000 data points. A rule of thumb in data science is that a good number of clusters, K = sqrt(n/2). This is from [http://en.wikipedia.org/wiki/Determining_the_number_of_clusters_in_a_data_set#cite_note-1](wikipedia). This evaluates to 50 clusters. To make an intelligent selection about the 50 seeds we need, we run the K-Means++ algorithm. The machine learning algorithm is then run and we obtain 50 groups that contain kickstarter users with similar interests. When we get a new user to our app, we look at their facebook likes and map these likes to the 13 broad kickstarter categories. We then calculate the distance of the users score to each of the cluster centers. We select the nearest cluster to the user and assign that user to that group. To give a user a recommendation, we look at the active projects that other people in the users cluster have backed. We rank these in order of how many people in the certain cluster have backed it and provide it to the user. </p>

                <br>
                <center>
              </center>
              </div>
            </div>
          </div>
        </section>
        <section class="slice" id="about">
          <div class="container">
            <div class="row">
              <div class="col-xs-12">
                <h1>Getting Feedback from Users</h1>
                <h2 class="subTitle">Having the user train our engine to suit their personality</h2>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-4">
                <center>
                </center>
              </div>

              <div class="col-sm-4">
              <p>We want to make these recommendations very personal to the user. As time goes by and the user uses the site more and more, we want our engine to adapt to the users needs. For each recommendation we give, we look at if the user liked it or not. When a user liked a project that is in the food category, we change his score to represent this. It would be the similar to if he liked a food on facebook. The next time he logs onto the site, he may be closer to another cluster that is more Food friendly. 
              </p>
              </div>

              <div class="col-sm-4">
                <h2>Classifying by Facebook Likes</h2>
                <p>What happens when we have a new user that hasnt backed any kickstarter projects? We look at his facebook likes and map the facebook likes categories to the kickstarter categories. Say Albert hasn't backed any kickstarter projects but he has liked 6 Artists pages on facebook, 3 theaters, 2 comic books, 2 design pages and 1 movie then he would be given the same score as Alex.</p> 
              </div>
            </div>
          </div>
        </section>

